@{
    ViewBag.Title = "Создать желание";
    Layout = "../Shared/_Layout.cshtml";
}


<div id="wishHolder">
    @using (Html.BeginForm("Wish", "Home", FormMethod.Get)){
        <input id="wishTextBox" type="text" placeholder="Make a wish" size="100" name="url"/>
        <br/>
        <button class="large green">Хочу желание</button>
    }
</div>