body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

    /* max-width: 280px; */
}


#wishHolder {
    width: 100%;
    text-align: center;
}

#wishHolder button {
    display: inline-block;
    margin-top: 30px;
}

#wishTextBox {
    height: 50px;
}

#product-properties {
    
}

#product-image-holder {
    padding: 0;
    border: 1px solid #333;
    background: silver;
    width: 270px;
    height: 270px;
    text-align: center;
    float: left;
    -ms-border-radius: 4px 4px;
    border-radius: 4px 4px;
    position: relative;
}


#product-image-holder > img {
    border: 0;
    padding: 0;
    height:  250px;
    height: 250px;
    position: absolute;
    font-size: 0;
    top: 10px;
    left: 10px;
}


.product-property-name {
    font-weight: bold;
    margin-right: 30px;
}

.price {
    font-size: 120%;
    font-family: Consolas, Arial;
    font-weight: bolder;
    color: darkgreen;
}

#right-panel {
    float: left;
    margin-left: 30px;
}
